@charset "UTF-8";
@import url(reset.css);
@import url(login-bar.css);
@import url(header.css);
@import url(nav-bar.css);
/*기본색상*/
:root {
  --main-color: rgb(255, 108, 44);
  --dark-main-color: #ce6e00;
  --text-bright-color: #fff;
  --icon-color: #fff;
  --icon-bk-color: #ddd;
  --gray-color: #ddd;
  --large-width: 1200px;
  --middle-width: 768px;
}

/*기본 폰트 크기 설정*/
@media (max-width: 599px) {
  :root {
    font-size: 14px;
  }
}

@media (min-width: 600px) and (max-width: 799px) {
  :root {
    font-size: 16px;
  }
}

@media (min-width: 800px) {
  :root {
    font-size: 18px;
  }
}



/*기본 설정: 페이지 전체*/
body {
  margin: 0;
  font-family: ‘나눔 고딕’, sans-serif;
}





/* carousel */
.carousel {
  max-width: 100%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.carousel-inner img {
  width: 100%;
  height: 500px;
}

/*product*/
.show {
  display: flex;
  width: var(--large-width);
  margin: auto;
  justify-content: space-between;
}

.brand {
  display: inline-block;
}

.brand h1 {
  font-size: 30px;
}

.all {
  display: block;
}

.listA hr {
  max-width: var(--large-width);
}

.listA .container {
  display: flex;
  max-width: 1200px;
  margin: 30px auto;
  flex-wrap: wrap;
}

.listA article {
  flex: 1 2 250px;
}

.listA a {
  margin: 10px;
  display: block;
  border: 1px solid #ddd;
  text-decoration: none;
  color: inherit;
}

.all a {
  border: none;
}

.listA a:hover {
  opacity: 0.8;
}

.listA .photo {
  min-height: 150px;
  background-size: cover;
  background-position: center;
}

.listA h2 {
  font-size: 18px;
}

.listA p {
  font-size: 14px;
  opacity: 0.8;
  text-align: right;
}

.listA text {
  margin: 10px;
}

/* board */
.all1 {
  display: flex;
  justify-content: space-between;
}
.all1 a {
  color: black;
  font-size: 14px;
}
.main_board {
  max-width: var(--large-width);
  align-items: center;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.main_board hr {
  height: 270px;
  width: 0.1vh;
  border-width: 0;
  color: #000;
  background-color: #000;
  margin-top: 0;
  padding: 0;
}

.table {
  font-size: 0.8em;
}

td a {
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .main_board {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .main_board hr {
    display: none;
  }
  .container {
    margin: 50px;
  }
}

/* indicator */
.gotoTop {
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 50px;
  height: 100px;
  line-height: 100px;
  z-index: 9999;
}

/* footer: 주소, sns, 서브메뉴 */
footer {
  background-color: var(--dark-main-color);
  color: var(--text-bright-color);
}

footer .container {
  padding: 40px 20px;
}

@media (min-width: 768px) {
  footer .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
  }

  .footA {
    flex: 0 0 40%;
  }
  .footB {
    flex: 0 0 60%;
  }
}

.footA {
  margin-bottom: 30px;
}

.footA h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  letter-spacing: 00.2em;
}

.footA p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
}

.footA a {
  color: inherit;
  text-decoration: none;
}

.footB div {
  margin-bottom: 20px;
}

.footB h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  border-bottom: 1px solid currentColor;
}

.footB ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footB a {
  display: block;
  padding: 5px;
  color: inherit;
  font-size: 12px;
  text-decoration: none;
}

.footB a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .footB {
    display: flex;
  }
  .footB div {
    flex: 1;
  }
  .footB div:not(:last-child) {
    margin-right: 40px;
  }
}

.footD {
  margin-top: 20px;
}

.footD ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footD a {
  display: block;
  margin-right: 8px;
  padding: 0;
  color: inherit;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid currentColor;
  width: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 50%;
}

.footD a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
